@keyframes slide {
    100% {
        transform: translateX(0);
    }
}

@keyframes load {
    0% {
        transform: scale(1) rotate(45deg);
    }
    25% {
        transform: scale(1.5) rotate(90deg);
    }
    50% {
        transform: scale(2) rotate(180deg);
    }
    75% {
        transform: scale(1.5) rotate(270deg);
    }
    100% {
        transform: scale(0) rotate(360deg);
    }
}

.slide {
    animation: slide 0.8s ease-in-out forwards;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading .square {
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: var(--black);
    animation: load 0.9s infinite linear;
}

.loaded {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}
