/* -----------------------------------------------
    CSS Styles 
--------------------------------------------------
    Project Name: Burger Restaurant
--------------------------------------------------

Table of Content
    - Global
    - Header Top
    - Header Banner
    - About us 
    - Recommanded Today 
    - Contact Us 
    - Footer
    - Responsive
-------------------------------------------------- */

/*--------------------------------------------------
		Global
--------------------------------------------------- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: rgba(18,18,18,0.9);
    --red: #EE022B;
    --lightred: rgba(255,0,0,0.7);
    --white: #ffffff;
    --grey: #727273;
    --margin-side: 160px;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

h1::first-letter {
    font-size: 3rem;
    color: var(--red);
}

section h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 15px 0;
    font-size: 2rem;
}

h3 {
    text-transform: uppercase;
}

iframe {
    height: 500px;
    border: 0px;
    width: 100%;
    border-radius: 20px;
}

p {
    font-family: 'Maven Pro', 'sans-serif';
}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
}

#check {
    display: none;
}

#menu-burger:target {
    left: -100%;
}

#form-contact-status {
    width: fit-content;
    padding: 25px 50px;
    margin: 1rem auto;
    border-radius: 10px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border-color: 1px solid #c3e6cb;
    transition: 0.5s ease;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: 1px solid #f5c6cb;
    transition: 0.5s ease;
}


/* ---------- Buttons ---------  */
.check-button {
    background-color: rgba(18,18,18,0.4);
    width: 50px;
    text-align: center;
    font-size: 45px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.red-button {
    display: inline-block;
    width: 10rem;
    height: 2.8rem;
    border-radius: 20px;
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    line-height: 2.8rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.red-button:hover {
    background-color: var(--lightred);
}

.white-button {
    display: block;
    margin-top: 2rem;
    width: 10rem;
    height: 2.8rem;
    border: 2px solid var(--red);
    border-radius: 20px;
    background-color: var(--white);
    color: var(--red);
    text-align: center;
    line-height: 2.8rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.white-button:hover {
    background-color: var(--red);
    color: var(--white);
}

/*--------------------------------------------------
		Header Topbar
--------------------------------------------------- */

.header-topbar {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px var(--margin-side);
    position: fixed;
    width: 100%;
}
.header-topbar .topbar-menu ul {
    list-style-type: none;
}
.header-topbar .topbar-menu li {
    display: inline-block;
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}
.header-topbar .topbar-menu a {
    display: inline-block;
    color: var(--white);
    text-align: center;
    border-radius: 20px;
    width: 125px;
    height: 40px;
    line-height: 2.8rem;
    letter-spacing: 0.1rem;
}
.header-topbar .topbar-menu a:hover {
    background-color: var(--lightred);
}

/*--------------------------------------------------
		Header Banner
--------------------------------------------------- */
.header-banner {
    background: url('../images/burger-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10vh var(--margin-side);
}
.header-banner h2::before {
    content: 'The one and only\A';
    white-space: pre;
    color: var(--white);
    font-weight: 900;
    font-size: 0.8rem;
}
.header-banner h2 {
    font-family: 'Raleway', 'Montserrat', sans-serif;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 5.6rem;
    margin-top: 15px;
}
.header-banner .price {
    font-family: 'Maven Pro', sans-serif;
    color: var(--grey);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 15px;
}
.header-banner .description {
    color: var(--white);
    font-size: 1rem;
    margin: 15px 0 30px 0;
    width: 50%;
    min-width: 320px;
}

/*--------------------------------------------------
		About us
--------------------------------------------------- */
.about-us {
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.about-us .about-us-item {
    flex-basis: 35%;
    margin-bottom: 3rem;
}
.about-us .about-us-item img{
    height: 500px;
}
.about-us h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.about-us p {
    font-size: 1.3rem;
    margin: 1rem 0;
    width: 400px;
}

/*--------------------------------------------------
		Recommanded Today
--------------------------------------------------- */
.recommanded {
    text-align: center;
}
.recommanded-products {
    text-align: center;
    flex-wrap: wrap;
}
.recommanded-products .product {
    flex: 1 0 300px;
    margin: 1rem 5px;
    border: 1px solid #F1F1F1;
    padding-bottom: 1rem;
}
.recommanded-products .product p {
    margin: 20px 80px;
}
.recommanded-products .product .price {
    color: var(--red);
    font-weight: bolder;
    font-size: 1.8rem;
}

/*--------------------------------------------------
		Contact us
--------------------------------------------------- */
.contact-us .contact {
    flex-basis: 50%;
}
.contact .form-contact {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.2rem;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-contact .form-group label {
    display: block;
}
.form-contact .form-group label::after {
    content: '*'
}
.form-contact .form-group:nth-child(1), 
.form-contact .form-group:nth-child(2) {
     width: 45%;
}
.form-contact .form-group:nth-child(3), 
.form-contact .form-group:nth-child(4),
.form-contact .form-group:nth-child(5) {
    width: 100%;
}
.form-contact .form-group .form-control {
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--red);
    margin: 10px 40px 5px 0;
} 
.form-contact .form-group input {
    height: 35px;
    outline: none;
    padding: 10px;
}
.form-contact textarea {
    height: 100px;
    outline: none;
    padding: 10px;
}
.form-contact input[type="submit"] {
    background-color: var(--red);
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.form-contact input[type="submit"]:hover {
    background-color: var(--lightred);
}
.contact-us .contact h3{
    margin: 20px 0;
    text-align: center;
    font-size: 1.5rem;
}

/*--------------------------------------------------
		Footer
--------------------------------------------------- */
.footer {
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    padding: 50px 0;
    font-family: 'Maven Pro';
}
.footer p:first-of-type {
    padding-top: 1rem;
    font-size: small;
}

/*--------------------------------------------------
		Responsive Design
--------------------------------------------------- */
 @media screen and (max-width: 1200px) {
    :root {
        --margin-side: 30px;
    }

    html {
        font-size: 15px;
    }

    .product {
        flex-basis: 49%;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    iframe {
        height: 500px;
        border: 0px;
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .header-topbar h1 span{
        display: none;
    }

    .header-topbar .topbar-menu li {
        margin-left: 0.1rem;
    }

    .header-topbar .topbar-menu a {
        width: 100px;
    }

    .about-us .about-us-item img{
        height: 405px;
    }
}

@media screen and (max-width: 825px) {
    .contact-us .container {
        flex-direction: column;
    }

    .about-us .about-us-item {
        flex: 1 0 100%;
        margin-bottom: 1rem;
    }

    .about-us p {
        margin: 0.5rem 0;
        width: 100%;
    }

    .about-us .about-us-item img{
        display: none;
    }
}

@media screen and (max-width: 725px) {
    :root {
        --margin-side: 20px;
    }

    html {
        font-size: 13px;
    }
    
    .header-topbar {
        background-color: transparent;
    }

    .check-button {
        display: block;
    }

    .header-topbar .topbar-menu {
        width: 50%;
        height: 100vh;
        text-align: center;
        padding-top: 3rem;
        margin: 1rem 0;
        display: block;
        background-color: rgba(18,18,18,0.9);
        position: fixed;
        top: -12px;
        right: -100%;
        transition-duration: 0.5s;
        z-index:1;
    }

    :checked ~ .topbar-menu {
        right: 0;
    }

    .header-topbar h1 {
        display: none;
    }

    .header-topbar li {
        display: block;
        width: 100%;
        margin: 1.5rem 0;
        background-color: transparent;
    }

    .header-topbar .topbar-menu a {
        display: block;
        font-size: 1.3rem;
        width: 100%;
        border-radius: 0px;
        margin: 0;
    }

    .header-topbar .topbar-menu a:hover {
        background-color: transparent;
        color: var(--red);
    }

    .header-banner  {
        padding: 1vh var(--margin-side);
    }

    .header-banner .description {
        width: 300px;
    }

    .product {
        flex-basis: 100%;
    }
    
    .red-button, .white-button {
        font-size: 1rem;
    }

    .red-button:first-child {
        background-color: transparent;
    }

    .contact .form-contact {
        padding: 0;
    }

}

@media screen and (max-width: 420px) {
    .header-banner h2 {
        font-size: 4.6rem;
    }

    .contact .form-contact {
        padding: 0;
    }
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .header-banner {
        height: 100vh;
    }
    .header-banner h2 {
        font-size: 2.5rem;
    }
}
