/* -----------------------------------------------
    CSS Styles 
--------------------------------------------------
    Project Name: Burger Restaurant
--------------------------------------------------

Table of Content
    - Reset
    - Global
    - Header Top
    - Header Banner
    - About us 
    - Recommanded Today 
    - Contact Us 
    - Footer
    - Responsive
-------------------------------------------------- */

/*--------------------------------------------------
		Reset
--------------------------------------------------- */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*--------------------------------------------------
		Global
--------------------------------------------------- */

:root {
    --black: rgba(18, 18, 18, 0.9);
    --red: #ee022b;
    --lightred: rgba(255, 0, 0, 0.7);
    --white: #ffffff;
    --grey: #727273;
    --lightgrey: #f1f1f1;
    --margin-side: 160px;
    --transition-duration: 0.5s;
}

html {
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
}

section h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 15px 0;
    font-size: 2rem;
}

h3 {
    text-transform: uppercase;
}

iframe {
    height: 500px;
    border: 0;
    width: 100%;
    border-radius: 18px;
}

p {
    font-family: "Maven Pro", "sans-serif";
}

a {
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
}

#check {
    display: none;
}

#menu-burger:target {
    left: -100%;
}

#form-contact-status {
    display: none;
    width: fit-content;
    padding: 25px 50px;
    margin: 1rem auto;
    border-radius: 10px;
    transition: all 0.5s ease-out;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border-color: 1px solid #c3e6cb;
    transition: 0.5s ease;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: 1px solid #f5c6cb;
    transition: 0.5s ease;
}

/* ---------- Buttons ---------  */
.check-button {
    background-color: rgba(18, 18, 18, 0.4);
    width: 50px;
    text-align: center;
    font-size: 45px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.red-button {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 10rem;
    height: 2.8rem;
    border-radius: 18px;
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    line-height: 2.8rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.red-button::after,
.white-button::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    transform: scale(0);
    transition: transform 0.3s ease-out;
    background-color: var(--lightred);
}

.red-button:hover {
    color: var(--red) !important;
    z-index: 2;
}

.red-button:hover::after {
    background-color: var(--white);
    color: var(--red);
    transform: scale(1);
}

.white-button {
    display: block;
    position: relative;
    margin-top: 2rem;
    width: 10rem;
    height: 2.8rem;
    border: 2px solid var(--red);
    border-radius: 18px;
    background-color: var(--white);
    color: var(--red);
    text-align: center;
    line-height: 2.8rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.white-button:hover {
    background-color: var(--red);
    color: var(--white);
}

.white-button:hover::after {
    background-color: var(--red);
    color: var(--white);
    transform: scale(1);
}

/*--------------------------------------------------
		Header Topbar
--------------------------------------------------- */

.header-topbar {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px var(--margin-side);
    position: fixed;
    z-index: 2;
    width: 100%;
}
.header-topbar h1 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    flex: 1 0 auto;
}

.header-topbar h1::first-letter {
    font-size: 3rem;
    color: var(--red);
}

.header-topbar-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-topbar-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header-topbar-menu li {
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}
.header-topbar-menu a {
    display: inline-block;
    color: var(--white);
    text-align: center;
    border-radius: 18px;
    width: 125px;
    height: 40px;
    line-height: 2.8rem;
    letter-spacing: 0.1rem;
}
.header-topbar-menu a:hover {
    background-color: var(--lightred);
}

/*--------------------------------------------------
		Header Banner
--------------------------------------------------- */
.header-banner {
    background: url("../images/burger-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10vh var(--margin-side);
}
.header-banner h2::before {
    content: "The one and only\A";
    white-space: pre;
    color: var(--white);
    font-weight: 900;
    font-size: 0.8rem;
}
.header-banner h2 {
    font-family: "Raleway", "Montserrat", sans-serif;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 5.6rem;
    margin-top: 15px;
    transform: translateX(-100%);
}
.header-banner-price {
    font-family: "Maven Pro", sans-serif;
    color: var(--grey);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 15px;
    transform: translateX(-100%);
}
.header-banner .header-banner-description {
    color: var(--white);
    font-size: 1rem;
    margin: 15px 0 30px 0;
    width: 50%;
    min-width: 320px;
    transform: translateX(300%);
}

/*--------------------------------------------------
		About us
--------------------------------------------------- */
.about-us {
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.about-us .about-us-item {
    flex-basis: 35%;
    margin-bottom: 3rem;
}
.about-us .about-us-item img {
    height: 500px;
}
.about-us h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.about-us p {
    font-size: 1.3rem;
    margin: 1rem 0;
    width: 400px;
}

/*--------------------------------------------------
		Recommanded Today
--------------------------------------------------- */
.recommanded {
    text-align: center;
}
.products {
    text-align: center;
    flex-wrap: wrap;
}
.product {
    flex: 1 0 30%;
    margin: 1rem 5px;
    border: 1px solid var(--lightgrey);
    padding-bottom: 1rem;
    transition: transform ease-in-out 0.3s;
    cursor: pointer;
}

.product:hover {
    transform: scale(1.1);
}

.product p {
    margin: 20px 80px;
}

.product .price {
    color: var(--red);
    font-weight: bolder;
    font-size: 1.8rem;
}

/*--------------------------------------------------
		Contact us
--------------------------------------------------- */
.contact-us .contact {
    flex-basis: 50%;
}
.contact .form-contact {
    font-family: "Maven Pro", sans-serif;
    font-size: 1.2rem;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-contact .form-group label {
    display: block;
}
.form-contact .form-group label::after {
    content: "*";
}
.form-contact .form-group:nth-child(1),
.form-contact .form-group:nth-child(2) {
    width: 45%;
}
.form-contact .form-group:nth-child(3),
.form-contact .form-group:nth-child(4),
.form-contact .form-group:nth-child(5) {
    width: 100%;
}
.form-contact .form-group .form-control {
    width: 100%;
    border-radius: 18px;
    border: 2px solid var(--red);
    margin: 10px 40px 5px 0;
}
.form-contact .form-group input {
    height: 35px;
    outline: none;
    padding: 10px;
}
.form-contact textarea {
    height: 100px;
    outline: none;
    padding: 10px;
}
.form-contact input[type="submit"] {
    background-color: var(--red);
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
}
.form-contact input[type="submit"]:hover {
    background-color: var(--lightred);
}
.contact-us .contact h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 1.5rem;
}

/*--------------------------------------------------
		Footer
--------------------------------------------------- */
.footer {
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    padding: 50px 0;
    font-family: "Maven Pro";
}
.footer p:first-of-type {
    padding-top: 1rem;
    font-size: small;
}

/*--------------------------------------------------
		What's app
--------------------------------------------------- */
.whatsapp-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    transition-duration: var(--transition-duration);
}
.whatsapp-button:hover {
    transform: rotate(360deg);
}

/*--------------------------------------------------
		Responsive Design
--------------------------------------------------- */
@media screen and (max-width: 1200px) {
    :root {
        --margin-side: 30px;
    }

    html {
        font-size: 15px;
    }

    .product {
        flex-basis: 49%;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    iframe {
        height: 500px;
        border: 0;
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .header-topbar h1 span {
        display: none;
    }

    .header-topbar-menu li {
        margin-left: 0.1rem;
    }

    .header-topbar-menu a {
        width: 100px;
    }

    .about-us .about-us-item img {
        height: 405px;
    }
}

@media screen and (max-width: 825px) {
    .contact-us .container {
        flex-direction: column;
    }

    .about-us .about-us-item {
        flex: 1 0 100%;
        margin-bottom: 1rem;
    }

    .about-us p {
        margin: 0.5rem 0;
        width: 100%;
    }

    .about-us .about-us-item img {
        display: none;
    }
}

@media screen and (max-width: 725px) {
    :root {
        --margin-side: 20px;
    }

    html {
        font-size: 13px;
    }

    .header-topbar {
        background-color: transparent;
    }

    .header-topbar h1 {
        display: none;
    }

    .header-topbar li {
        display: block;
        width: 100%;
        margin: 1.5rem 0;
        background-color: transparent;
    }

    .header-topbar-menu {
        width: 50%;
        height: 100vh;
        text-align: center;
        padding-top: 3rem;
        margin: 1rem 0;
        display: block;
        background-color: var(--black);
        position: fixed;
        top: -12px;
        right: -100%;
        transition-duration: 0.5s;
        z-index: 1;
    }

    .header-topbar-menu ul {
        display: unset;
    }

    :checked ~ .header-topbar-menu {
        right: 0;
    }

    .header-topbar-menu a {
        display: block;
        font-size: 1.3rem;
        width: 100%;
        border-radius: 0px;
        margin: 0;
    }

    .header-topbar-menu a:hover {
        background-color: transparent;
        color: var(--red);
    }

    .check-button {
        display: block;
    }

    .header-banner {
        padding: 1vh var(--margin-side);
    }

    .header-banner-description {
        width: 300px;
    }

    .product {
        flex-basis: 100%;
    } 

    .red-button,
    .white-button {
        font-size: 1rem;
    }

    .red-button:first-child {
        background-color: transparent;
    }

    .contact .form-contact {
        padding: 0;
    }
}

@media screen and (max-width: 420px) {
    .header-banner h2 {
        font-size: 4.6rem;
    }

    .contact .form-contact {
        padding: 0;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .header-banner {
        height: 100vh;
    }
    .header-banner h2 {
        font-size: 2.5rem;
    }
}
